# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.env/

# Editable install metadata
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Data (ใหญ่ / generated)
data/
