# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.env/

# Editable install metadata
*.egg-info/
*.egg
src/*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Data (ใหญ่ / generated)
data/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg

notebooks/trained_models/
notebooks/results/

results/
